.forecast {
  position: relative;
  max-height: 55rem;
  height: 50rem;
  padding-right: 1rem;

  @media only screen and (max-width: $tab-port) {
    padding-right: 0;
    height: 42rem;
    margin-bottom: 4rem;
  }

  &__image {
    // position: absolute;
    // top: 0;
    // left: 0;
    height: 100%;
    width: 100%;

    img {
      @include img-size;
    }
  }
  &__content {
    position: absolute;
    top: 5.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 72%;

    .heading,
    .text {
      text-align: center;
    }
  }

  .weather {
    padding-left: 2rem;

    @media only screen and (max-width: $tab-port) {
      padding-left: 0;
    }

    &__img {
      height: 7.2rem;
      width: 7.2rem;

      @media only screen and (max-width: $laptop-land) {
        height: 5.2rem;
        width: 5.2rem;
      }
      @media only screen and (max-width: $tab-land) {
        height: 4.2rem;
        width: 4.2rem;
      }
    }

    &__Temperature {
      font-size: 4.5rem;
      color: $color-white;
      font-family: $font-secondary;

      @media only screen and (max-width: $laptop-land) {
        font-size: 3.6rem;
      }
      @media only screen and (max-width: $tab-land) {
        font-size: 3rem;
      }
    }
  }
  .text {
    font-size: 2.4rem;
    color: $color-white;
    font-family: $font-primary;
    display: block;
    text-decoration: underline;
  }
}

.tuning {
  position: relative;
  // max-height: 55rem;
  height: 50rem;
  padding-left: 1rem;

  @media only screen and (max-width: $tab-port) {
    padding-left: 0;
  }
  @media only screen and (max-width: $mbl-land) {
    height: 80rem;
  }

  &__image {
    height: 100%;
    width: 100%;

    img {
      @include img-size;
    }
  }

  &__content {
    position: absolute;
    top: 5.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 87%;

    .heading {
      text-align: left;

      @media only screen and (max-width: $tab-port) {
        text-align: center;
      }
    }
  }

  .tune {
    gap: 3rem 0;
    //  &__item {
    //  }
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      @media only screen and (max-width: $tab-port) {
        justify-content: center;
        gap: 0 2rem;
      }

      .text,
      .number {
        font-size: 3.2rem;
        color: $color-white;
        font-family: $font-secondary;

        @media only screen and (max-width: $laptop-land) {
          font-size: 2.8rem;
        }
        // @media only screen and (max-width: $tab-port) {
        //   font-size: 2.5rem;
        // }

        // @media only screen and (max-width: $mbl-port) {
        //   font-size: 1.8rem;
        // }
      }

      .number {
        color: #04c317;
      }
    }

    input {
      margin: 0 auto;
    }
  }
}

.tuning-event {
  @media only screen and (max-width: $laptop-land) {
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start !important;
  }

  img {
    height: 8rem;
    width: 8rem;
  }
}

// .fuel {
//   img {
//     height: 8rem;
//     width: 8rem;
//   }
// }

.tire {
  gap: 2rem;
  // width: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  text-align: center;
}

.text {
  color: $color-white;
}

.sub {
  font-size: 2.4rem;
  color: $color-white;
  line-height: 1;

  @media only screen and (max-width: $laptop-land) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $tab-land) {
    font-size: 1.8rem;
  }
}

.primary {
  font-size: 4.4rem;
  color: $color-white;
  line-height: 1;

  @media only screen and (max-width: $laptop-land) {
    font-size: 3.7rem;
  }
  @media only screen and (max-width: $tab-land) {
    font-size: 2.8rem;
  }
}

// .btn {
//   img {
//     @include img-size;
//     object-fit: cover;
//   }
// }

.btn-start {
  display: flex;
  align-items: center;
  font-family: $font-secondary;
  align-self: center;

  .primary {
    font-size: 5rem;
    text-transform: uppercase;
  }
  .sub {
    font-size: 2.6rem;
    text-transform: uppercase;
  }

  img {
    height: 7rem;
    width: 8rem;
  }
}

.btn-img-active {
  display: none;
}

.active {
  .btn-img {
    display: none;
  }
  .btn-img-active {
    display: block;
  }
}
