.footer {
  padding: 1.2rem 4rem;

  &__logos {
  }

  &__logo {
    height: 3.8rem;
    width: 3.8rem;
  }

  &__logo--1 {
    width: 8.6rem;
    height: 2.4rem;
  }

  .text {
    color: $color-white;
  }
}
